body {
    width: 1000px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content:space-between;
}


.contacts {
    min-width: 250px;
}
.contacts ul {
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
}

nav ul {
    background-color: #cacaca;
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
}
nav a {
    font-size: 1.2em;
    text-decoration: none;
}
nav a:hover {
    color: blue;
    text-decoration: underline;
}
a:visited {
    color: #000000;
}
a:active {
    color: #000000;
}

 main {
    background-color: #f6f6f6;
    margin: 10px 0;
}

footer {
    border-top: 1px solid #000000;
    font-size: 1em;
}



#cvPhoto {
    width: 150px;
}

.footer-logo-rss {
    /* float: right; */
}

.footer-logo-gh {
    /* float: left; */
}

#rss_logo {
    height: 1.2em;
}

#github_logo {
    height: 1.2em;
}