html {
    position: relative;
    width: 1200px;
    min-width: 800px;
}
body {


}

main {
    align-items: center;
}

footer {
    border-top: 1px solid #000000;
    font-size: 1em;
}



#cvPhoto {
    width: 200px;
}
.footer-logo-rss {
    /* float: right; */
}
.footer-logo-gh {
    /* float: left; */
 }

#rss_logo {
    height: 1.2em;
}
#github_logo {
    height: 1.2em;
 }
 